<div class="px-3 py-2">
  <form #datosTablaForm="ngForm">
    <mat-accordion class="example-headers-align" multi>
      <!-- #enddocregion multi -->
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Datos de la Tabla
          </mat-panel-title>
          <mat-panel-description>
            Datos generales que serán usado en las funciones
            <mat-icon >table_rows</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <div class="form-row">
          <div class="col-md-6 mb-2">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Nombre de la Tabla</mat-label>
              <input name="nombreTabla" matInput placeholder="Nombre de la Tabla" [(ngModel)]="tablaDatos.nombre">
            </mat-form-field>
          </div>
          <div class="col-md-6 mb-2">
            <mat-form-field  class="w-100" appearance="fill">
              <mat-label>Descripción de la Tabla</mat-label>
              <input matInput name="descripcionTabla" placeholder="Descripción de la Tabla" [(ngModel)]="tablaDatos.descripcion">
            </mat-form-field>
          </div>
        </div>
    
      </mat-expansion-panel>
      <!-- #docregion disabled -->
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Campos de Datos 
          </mat-panel-title>
          <mat-panel-description>
            Campos de Datos
            <mat-icon>description</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <div class="mb-2">
          <div class="d-flex justify-content-end">
            <button mat-stroked-button color="primary" (click)="agregarCampo()">
              Agregar Campos
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>

        <div class="form-row pt-2" 
          *ngFor="let campo of listCampos; let index=index">
          
          <div class="col-md-3 mb-2">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Nombre Campo</mat-label>
              <input name="nombre-nue-{{index}}" matInput placeholder="Campo" [(ngModel)]="campo.campo">
            </mat-form-field>
          </div>
          <div class="col-md-3 mb-2">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Tipo de Campo</mat-label>
              <mat-select [(ngModel)]="campo.tipoCampo" name="tipo-nue-{{index}}">
                <mat-option *ngFor="let tipocampo of listTiposCampos" [value]="tipocampo">
                  {{tipocampo.tipo}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-md-1 mb-2" >

            <mat-form-field class="w-100" appearance="fill" *ngIf="campo.tipoCampo.longitud">
              <mat-label>Longitud Campo</mat-label>
              <input type="number" name="longitud-nue-{{index}}" matInput placeholder="longitud" [(ngModel)]="campo.longitud">
            </mat-form-field>
          </div>
          <div class="col-md-4 mb-2">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Descripción del Campo</mat-label>
              <input name="descripcion-nue-{{index}}" matInput placeholder="descripción" [(ngModel)]="campo.descripcion">
            </mat-form-field>
          </div>
          <div class="col-md-1 mb-2 text-center">
            <button mat-icon-button color="warn" (click)="eliminarCampo(campo)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

        </div>
      </mat-expansion-panel>
      <!-- #enddocregion disabled -->

      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Campos de Auditoria
          </mat-panel-title>
          <mat-panel-description>
            Descripción de los campos de Auditoria
            <mat-icon>policy</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <div class="form-row pt-2" 
          *ngFor="let campo of listCamposAuditoria; let index=index">
          <div class="col-md-3 mb-2">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Nombre Campo</mat-label>
              <input name="nombreCampo-{{index}}" matInput placeholder="Campo" [(ngModel)]="campo.campo">
            </mat-form-field>
          </div>

          <div class="col-md-3 mb-2">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Tipo de Campo</mat-label>
              <mat-select [(ngModel)]="campo.tipoCampo" name="tipocampo-{{index}}">
                <mat-option *ngFor="let tipocampo of listTiposCampos" [value]="tipocampo">
                  {{tipocampo.tipo}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-1 mb-2" >
            <mat-form-field class="w-100" appearance="fill" *ngIf="campo.tipoCampo.longitud">
              <mat-label>Longitud Campo</mat-label>
              <input type="number" name="longitudCampo-{{index}}" matInput placeholder="longitud" [(ngModel)]="campo.longitud">
            </mat-form-field>
          </div>
          <div class="col-md-4 mb-2">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Descripción del Campo</mat-label>
              <input name="longitudCampo-{{index}}" matInput placeholder="descripción" [(ngModel)]="campo.descripcion">
            </mat-form-field>
          </div>
          <div class="col-md-1 mb-2 text-center">
            <button mat-icon-button color="warn" (click)="eliminarCampo(campo)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

        </div>
      </mat-expansion-panel>

      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Funciones
          </mat-panel-title>
          <mat-panel-description>
            Funciones a Aplicarse en la Base de Datos
            <mat-icon>code</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <div class="form-row">
          <div class="col-md-6 mb-2">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Nombre de la Función</mat-label>
              <input name="nombreFuncionListar" matInput placeholder="Nombre de la Función" [(ngModel)]="funcionesDatos.funcionLista.nombre">
            </mat-form-field>
          </div>
          <div class="col-md-6 mb-2">
            <mat-form-field  class="w-100" appearance="fill">
              <mat-label>Descripción de la Función</mat-label>
              <input matInput name="descripcionFuncionListar" placeholder="Descripción de la Función" [(ngModel)]="funcionesDatos.funcionLista.objetivo">
            </mat-form-field>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-6 mb-2">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Nombre de la Función</mat-label>
              <input name="nombreFuncionCrear" matInput placeholder="Nombre de la Función" [(ngModel)]="funcionesDatos.funcionCrea.nombre">
            </mat-form-field>
          </div>
          <div class="col-md-6 mb-2">
            <mat-form-field  class="w-100" appearance="fill">
              <mat-label>Descripción de la Función</mat-label>
              <input matInput name="descripcionFuncionCrear" placeholder="Descripción de la Función" [(ngModel)]="funcionesDatos.funcionCrea.objetivo">
            </mat-form-field>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-2">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Nombre de la Función</mat-label>
              <input name="fnActualizaNombre" matInput placeholder="Nombre de la Función" [(ngModel)]="funcionesDatos.funcionActualiza.nombre">
            </mat-form-field>
          </div>
          <div class="col-md-6 mb-2">
            <mat-form-field  class="w-100" appearance="fill">
              <mat-label>Descripción de la Función</mat-label>
              <input matInput name="fnActualizaObjetivo" placeholder="Descripción de la Función" [(ngModel)]="funcionesDatos.funcionActualiza.objetivo">
            </mat-form-field>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-2">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Nombre de la Función</mat-label>
              <input name="fnEliminaNombre" matInput placeholder="Nombre de la Función" [(ngModel)]="funcionesDatos.funcionElimina.nombre">
            </mat-form-field>
          </div>
          <div class="col-md-6 mb-2">
            <mat-form-field  class="w-100" appearance="fill">
              <mat-label>Descripción de la Función</mat-label>
              <input matInput name="fnEliminaObjetivo" placeholder="Descripción de la Función" [(ngModel)]="funcionesDatos.funcionElimina.objetivo">
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Funciones BD
          </mat-panel-title>
          <mat-panel-description>
            Generación de los Archivos de la Base de Datos
            <mat-icon>settings_suggest</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <div class="form-row">
          <div class="col-md-6 mb-2 d-flex justify-content-around">
            <button mat-raised-button color="primary" (click)="generarCreacionTabla()">Tabla</button>
          </div>
          <div class="col-md-6 mb-2 d-flex justify-content-around">
            <button mat-raised-button color="primary" (click)="generarFuncionesBD()">Funciones</button>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Funciones Angular
          </mat-panel-title>
          <mat-panel-description>
            Generación de los Archivos de Angular
            <mat-icon>settings_suggest</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="form-row">
          <div class="col-md-6 mb-2 d-flex justify-content-around">
            <button mat-raised-button color="primary" (click)="generarCreacionTabla()">Vista</button>
          </div>
          <div class="col-md-6 mb-2 d-flex justify-content-around">
            <button mat-raised-button color="primary" (click)="generarCreacionTabla()">Servicio</button>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Funciones Node 
          </mat-panel-title>
          <mat-panel-description>
            Generación de los Archivos de Node
            <mat-icon>settings_suggest</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="form-row">
          <div class="col-md-6 mb-2 d-flex justify-content-around">
            <button mat-raised-button color="primary" (click)="generarCreacionTabla()">Controladores</button>
          </div>
          <div class="col-md-6 mb-2 d-flex justify-content-around">
            <button mat-raised-button color="primary" (click)="generarCreacionTabla()">Rutas</button>
          </div>
        </div>
      </mat-expansion-panel>
      
    </mat-accordion>
  </form>
</div>