<div class="fluid-container p-3" >
  <div class="row">
    <div class="col-xl-12 p-3">
      <div class="card border-secondary mb-3">
        <div class="card-header">Generar código a partir de tabla</div>
        <div class="card-body text-secondary">
          <form action="">
            <div class="form-row">
              <div class="col-md-6 mb-2">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Tabla</span>
                  </div>
                  <input type="text" class="form-control" placeholder="table" aria-label="table" aria-describedby="basic-addon1"
                  name="tablaNombre" [(ngModel)]="tablaDatos.nombre"
                  >
                </div>
              </div>
              <div class="col-md-6 mb-2">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Descripción</span>
                  </div>
                  <input type="text" class="form-control" placeholder="descripcion" name="tablaDescripcion" aria-label="descripcion" aria-describedby="basic-addon1"
                  [(ngModel)]="tablaDatos.descripcion"
                  >
                </div>
              </div>
            </div>
            
            <div class="form-row">
              <div class="col-md-12 mb-2 d-flex justify-content-between">
                <h3>Campos de la tabla:</h3>
                <div>
                  <button class="btn btn-success" (click)="agregarCampo()">Agregar Campo</button>
                </div>
              </div>
            </div>

            <div class="form-row bg-info pt-2" 
              *ngFor="let campo of listCampos; let index=index">
              <div class="col-md-3 mb-2">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Nombre</span>
                  </div>
                  <input type="text" class="form-control" placeholder="nombre" name="nombre-nue-{{index}}" aria-label="nombre" aria-describedby="basic-addon1"
                    [(ngModel)]="campo.campo"
                  >
                </div>
              </div>
              <div class="col-md-3 mb-2">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Tipo</label>
                  </div>
                  <select class="custom-select" id="tipo" name="tipo-nue-{{index}}" [(ngModel)]="campo.tipoCampo">
                    <option selected>Seleccione ...</option>
                    <option [ngValue]="tipocampo" *ngFor="let tipocampo of listTiposCampos">{{tipocampo.tipo}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3 mb-2">
                <div class="input-group" *ngIf="campo.tipoCampo.longitud">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Logitud</span>
                  </div>
                  <input type="text" class="form-control" placeholder="logitud" name="longitud-nue-{{index}}" aria-label="longitud" aria-describedby="basic-addon1"
                  [(ngModel)]="campo.longitud"
                  >
                </div>
              </div>
              <div class="col-md-3 mb-2">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Descripción</span>
                  </div>
                  <input type="text" class="form-control" placeholder="descripcion" name="descripcion-nue-{{index}}" aria-label="descripcion" aria-describedby="basic-addon1"
                  [(ngModel)]="campo.descripcion"
                  >
                </div>
              </div>
            </div>

            <div class="form-row bg-dark pt-2" 
              *ngFor="let campo of listCamposAuditoria; let index=index">
              <div class="col-md-3 mb-2">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Nombre</span>
                  </div>
                  <input type="text" class="form-control" placeholder="nombre" name="nombre-{{index}}" aria-label="nombre" aria-describedby="basic-addon1"
                    [(ngModel)]="campo.campo"
                  >
                </div>
              </div>
              <div class="col-md-3 mb-2">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Tipo</label>
                  </div>
                  <select class="custom-select" id="tipo" name="tipo-{{index}}" [(ngModel)]="campo.tipoCampo">
                    <option selected>Seleccione ...</option>
                    <option [ngValue]="tipocampo" *ngFor="let tipocampo of listTiposCampos">{{tipocampo.tipo}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3 mb-2" >
                <div class="input-group" *ngIf="campo.tipoCampo.longitud">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Logitud</span>
                  </div>
                  <input type="text" class="form-control" placeholder="logitud" name="longitud-{{index}}" aria-label="longitud" aria-describedby="basic-addon1"
                  [(ngModel)]="campo.longitud"
                  >
                </div>
              </div>
              <div class="col-md-3 mb-2">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Descripción</span>
                  </div>
                  <input type="text" class="form-control" placeholder="descripcion" name="descripcion-{{index}}" aria-label="descripcion" aria-describedby="basic-addon1"
                  [(ngModel)]="campo.descripcion"
                  >
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12">
                <h3>Lista de Funciones</h3>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12 mb-2">
                Listar
              </div>
              <div class="col-md-6 mb-2">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Nombre Funcion</span>
                  </div>
                  <input type="text" class="form-control" placeholder="descripcion" name="fnListarNombre" aria-label="descripcion" aria-describedby="basic-addon1"
                  [(ngModel)]="funcionesDatos.funcionLista.nombre"
                  >
                </div>
              </div>
              <div class="col-md-6 mb-2">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Objetivo</span>
                  </div>
                  <input type="text" class="form-control" placeholder="descripcion" name="fnListarObjetivo" aria-label="descripcion" aria-describedby="basic-addon1"
                  [(ngModel)]="funcionesDatos.funcionLista.objetivo"
                  >
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-12 mb-2">
                Insertar
              </div>
              <div class="col-md-6 mb-2">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Nombre Funcion</span>
                  </div>
                  <input type="text" class="form-control" placeholder="descripcion" name="fnCreaNombre" aria-label="descripcion" aria-describedby="basic-addon1"
                  [(ngModel)]="funcionesDatos.funcionCrea.nombre"
                  >
                </div>
              </div>
              <div class="col-md-6 mb-2">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Objetivo</span>
                  </div>
                  <input type="text" class="form-control" placeholder="descripcion" name="fnCreaObjetivo" aria-label="descripcion" aria-describedby="basic-addon1"
                  [(ngModel)]="funcionesDatos.funcionCrea.objetivo"
                  >
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-12 mb-2">
                Actualizar
              </div>
              <div class="col-md-6 mb-2">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Nombre Funcion</span>
                  </div>
                  <input type="text" class="form-control" placeholder="descripcion" name="fnActualizaNombre" aria-label="descripcion" aria-describedby="basic-addon1"
                  [(ngModel)]="funcionesDatos.funcionActualiza.nombre"
                  >
                </div>
              </div>
              <div class="col-md-6 mb-2">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Objetivo</span>
                  </div>
                  <input type="text" class="form-control" placeholder="descripcion" 
                  name="fnActualizaObjetivo" aria-label="descripcion" 
                  aria-describedby="basic-addon1"
                  [(ngModel)]="funcionesDatos.funcionActualiza.objetivo"
                  >
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-12 mb-2">
                Eliminar
              </div>
              <div class="col-md-6 mb-2">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Nombre Funcion</span>
                  </div>
                  <input type="text" class="form-control" placeholder="descripcion" 
                  name="fnEliminaNombre" aria-label="descripcion" 
                  aria-describedby="basic-addon1"
                  [(ngModel)]="funcionesDatos.funcionElimina.nombre"
                  >
                </div>
              </div>
              <div class="col-md-6 mb-2">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Objetivo</span>
                  </div>
                  <input type="text" class="form-control" placeholder="descripcion" name="fnEliminaObjetivo" aria-label="descripcion" aria-describedby="basic-addon1"
                  [(ngModel)]="funcionesDatos.funcionElimina.objetivo"
                  >
                </div>
              </div>
            </div>

          </form>
          <div class="text-center my-3">
            <button class="btn btn-success" (click)="generarCreacionTabla()">Generar Tabla BD</button>
          </div>
          <div class="text-center my-3">
            <button class="btn btn-success" (click)="generarFuncionesBD()">Generar Funciones BD</button>
          </div>
          <div class="text-center my-3">
            <button class="btn btn-success" (click)="generarCreacionTabla()">Generar Vistas y Servicios Angular</button>
          </div>
          <div class="text-center my-3">
            <button class="btn btn-success" (click)="generarCreacionTabla()">Generar Servicios y Rutas Node</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>