<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Summer</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
                [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top"
                [fixedBottomGap]="options.value.bottom">
    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option *ngFor="let menuOption of menu" [routerLink]="menuOption.ruta" [disabled]="menuOption.parent" [ngClass]="{'text-primary':menuOption.parent,'text-info pl-3':!menuOption.parent}">
        {{menuOption.description}}
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>

  <mat-sidenav-content >
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar class="example-footer bg-dark text-white">Tool for developing</mat-toolbar>